@import 'colors-solarized'

html
  font-family Consolas, Tahoma, Helvetica, Arial, san-serif
  font-weight bold
  background base2()
  font-size 14px

p
  padding-left 20px

header, section
  margin 10px 30px

.container
  display inline-block
  font-size 30px
  padding 10px 50px

.list
  display inline-block
  text-align center
  padding-left 10px

.container div
  padding 10px 30px
  white-space none
  border-radius 10px
 
.dark 
  background base03()

.light 
  background base3()


